<div class="register-container">
    <div class="title">{{ formTitle }}</div>
    <form class="form" [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
        <input 
            class="input" 
            type="text"
            name="Name"
            formControlName="name" 
            placeholder="Name:"
            (input)="clearInput($event)"  
            maxlength="100"
            [ngClass]="
                alertName ? 'global-input-border-alert' : 'global-input-border'
            "/>
        <span
            *ngIf="alertName"
            class="global-span"
            >{{ spanName }}</span>
        
        <input 
            class="input" 
            type="email"
            name="Email"
            formControlName="email" 
            placeholder="Email:"
            (input)="clearInput($event)"  
            maxlength="200"
            [ngClass]="
                alertEmail ? 'global-input-border-alert' : 'global-input-border'
            "/>
        <span
            *ngIf="alertEmail"
            class="global-span"
        >{{ spanEmail }}</span>

        <input 
            class="input" 
            type="password"
            name="Password" 
            formControlName="password"
            placeholder="Password:"
            (input)="clearInput($event)" 
            maxlength="100"
            [ngClass]="
                alertPassword ? 'global-input-border-alert' : 'global-input-border'
            "/>
        <span
            class="global-span"
            [ngClass]="
            alertPassword ? 'text-alert' : 'text-normal'
            ">{{ spanPassword }}</span>

        <button class="global-button create-button" type="submit">CREATE PROFILE</button>
    </form>
</div>
