*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.sidebar{
    width: 340px;
    top: 0;
    left: 0;
    bottom: 0;
}

.box-logo{
    font-family: "Inter", sans-serif;
    display: flex;
    height: 50px;
    margin: 20px 20px 0px 20px;
    background-color: #EFF4FC;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 6px 25px rgba(0, 0, 0, 0.1);
}

.logo-img{
    display: flex;
    align-items: center;
    margin: 5px;
    font-size: 40px;
    font-weight: bold;
}

.logo-title{
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: 14px;
}

.sidebar-menu{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.sidebar-menu-item{
    display: flex;
    align-items: center;
    max-height: 50px;
}

.sidebar-menu-item a{
    padding: 15px;
    width: 100%;
    background-color: #E0E0E0;
    opacity: .5;
    transition: .4s;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar-menu-item a:hover{
    opacity: 1;
}

.sidebar-menu-icon{
    width: 20px;
    height: 17px;
}

#home-menu{
    padding-left: 20px;
}

.sidebar-menu-title{
    margin-left: 15px;
    color: #000;
    transition: 0.4s;
    opacity: .9;
}

.sidebar-menu-title:hover{
    opacity: 1;
}

.sidebar-menu-line{
    border-bottom: 3px solid #E0E0E0;
}


/*Dark Mode*/
body.dark .box-logo{
    box-shadow: 0 4px 12px rgba(255, 255, 255, .2), 0 6px 25px rgba(255, 255, 255, .2);
}

body.dark .sidebar{
    background-color: #1E1E1E;
}

body.dark .box-logo,
body.dark .sidebar-menu-item a{
    background-color: #B0C0D0;
}

body.dark .sidebar-menu-item a{
    opacity: .7;
}

body.dark .sidebar-menu-item a:hover{
    opacity: 1;
}

body.dark .sidebar-menu-title{
    color: #fff;
}