<div class="login-container">
    <app-forms-alert [verifyAcess]="accessDenied" (closeAlert)='accessDenied = $event'></app-forms-alert>
    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onFormSubmit()">
        <input 
            class="input" 
            type="email" 
            name="Email"
            formControlName="email" 
            placeholder="Email:" 
            maxlength="{{ emailMaxLength }}"
            (click)="clearInput($event)"
            [ngClass]="
                alertEmail ? 'global-input-border-alert' : 'global-input-border'
            "/>
        <span 
            *ngIf="alertEmail"
            class="global-span"
            >{{ spanEmail }}</span>
            
        <input 
            class="input" 
            type="password"
            name="Password" 
            formControlName="password" 
            placeholder="Password:" 
            maxlength="{{ passwordMaxLength }}"
            (click)="clearInput($event)"
            [ngClass]="
                alertPassword ? 'global-input-border-alert' : 'global-input-border'
            "/>
        <span 
            class="global-span"
            [ngClass]="
                alertPassword ? 'text-alert' : 'text-normal'
            ">{{ spanPassword }}</span>
        <button class="global-button signIn-button" type="submit">Sign In</button>
    </form>

    <div class="create-profile">
        <div class="create-profile-title">
            <div class="bar"></div>
            <div class="create-profile-text">New to Operação Curiosidade?</div>
            <div class="bar"></div>
        </div>
        <button class="create-profile-button" type="button" (click)="goToRegister()">Create a new profile</button>
    </div>
</div>
