.submit-button{
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    margin: 15px 0px;
    padding: 10px 50px;
    color: #FFF;
    background-color: #429a35;
    opacity: .7;
    transition: 0.4s;
    border-style: none;
    cursor: pointer;
}

.close-icon{
    width: 25px;
    height: 25px;
    opacity: .5;
    cursor: pointer;
    transition: .4s;
}

.submit-button:hover,
.close-icon:hover{
    opacity: 1;
}

/*Dark Mode*/

body.dark .close-icon{
    opacity: .8;
}

body.dark .close-icon:hover{
    opacity: 1;
}