.password-requirements,
.password-requirements-create{
    display: block;
    color: #0000ff;
    font-size: 11px;
    margin-top: 3px;
}

.alert-user{
    display: none;
    color: #ba0933;
    font-size: 11px;
    margin-top: 3px;
}

body.dark .password-requirements,
body.dark .password-requirements-create{
    color: #fff;
}

body.dark .alert-user{
    color: #FF4D6D;
}