.return-login{
    position: absolute;
    left: 0;
    margin: 10px 0px 0px 10px;
}


.return-login img{
    max-width: 30px;
    max-height: 30px;
    padding: 5px;
    border-radius: 50%;
}

.return-login img:hover{
    background-color: #fafafa;
    max-width: 35px;
    max-height: 35px;
    transition: 0.2s;
}

.newProfile-title{
    font-size: 20px;
}

.input-changes{
    margin:15px 0px 0px 0px; 
}

#createProfile-submit{
    font-size: 16px;
    border-radius: 8px;
    margin: 15px 0px;
    padding: 10px 50px;
    color: #FFF;
    background-color: #61A057;
    border-style: none;
    cursor: pointer;
}

#createProfile-submit:hover{
    font-size: 17px;
    background-color: #7BB872;
    transition: 0.2s;
}