.main-content{
    font-family: "Roboto", sans-serif;
    height: 100%;
    width: 100%;
    background-color: #F0F0F0;
}

.main-container{
    font-family: "Roboto", sans-serif;
}

.main-container-area{
    background-color: #FFF;
    height: 400px;
    margin: 20px;
}

.main-container-title{
    font-size: 18px;
    padding:20px 0px 0px 10px;   

}

.main-container-table{
    display: grid;
    grid-template-columns: auto auto auto;
    margin:30px 20px 0px 20px;
    color: #A9A9A9;
}

.table-title{
    margin-bottom: 10px;
}

.table-line{
    display: flex;
    justify-content: center;
    margin: 0px 20px;
    border-bottom: 1px solid #A9A9A9;
}