.active-profile-checkbox{
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    margin: 30px 50px 0px 0px;
}

.active-profile-title{
    margin: 10px;
}

.profile-title{
    font-weight: bold;
    font-size: 18px;
    color: #000;
}

.facts-inputs{
    display: flex;
    flex-direction: column;
}

.profile-input{
    display: flex;
    flex-direction: column;
    margin: 15px 10px;
}

.profile-name-password{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.profile-birthday-email{
    display: grid;
    grid-template-columns: 1fr 1fr;
}



.password-requirements{
    display: block;
    color: #0000ff;
    font-size: 11px;
    margin-top: 3px;
}

.alert-password-requirements,
.alert-user,
.alert-email-requirements,
.alert-email-exist{
    display: none;
    color: #ba0933;
    font-size: 11px;
    margin-top: 3px;
}

.profile-input textarea,
.profile-input input{
    font-size: 16px;
    padding: 10px;    
    background-color: #EEEBEB;
    border: 2px solid #000;
}

.profile-input textarea{
    resize: none;
}

.createProfile-button{
    display: flex;
    justify-content: center;
}

#createProfile-submit{
    font-size: 16px;
    border-radius: 8px;
    margin: 15px 0px;
    padding: 10px 50px;
    color: #FFF;
    background-color: #61A057;
    border-style: none;
    cursor: pointer;
}