.profile-button{
    position: absolute;
    right: 0;
    margin-right: 20px;
}

.profile-button button{
    font-size: 16px;
    border-radius: 8px;
    margin-top: 15px;
    padding: 10px 50px;
    color: #FFF;
    background-color: #61A057;
    border-style: none;
    cursor: pointer;
}

#table-area img{
    max-width: 15px;
    max-height: 15px;
}

.tableEditRemove{
    text-align: center;
    max-width: 100px;
}

.tableEditLink{
    margin-right: 20px;
}

.tableRemoveLink{
    margin-left: 20px;
}

.tableEditLink img,
.tableEditRemove img{
    cursor: pointer;
}