*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.full-page{
    width: 100%;
    display: flex;
}

.sidebar{

    width: 340px;
    top: 0;
    left: 0;
    bottom: 0;
}

.box-logo{
    font-family: "Inter", sans-serif;
    display: flex;
    height: 50px;
    margin: 20px 20px 0px 20px;
    background-color: #EFF4FC;
}

.logo-img{
    display: flex;
    align-items: center;
    margin: 5px;
    font-size: 40px;
    font-weight: bold;
}

.logo-title{
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: 13px;
}

.sidebar-menu{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.sidebar-menu-item a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar-menu-item{
    display: flex;
    align-items: center;
    margin: 7px 0px 7px 20px;
    max-height: 21px;
}

#cadastro-menu{
    margin-left: 16px;
}

#relatorios-menu{
    margin-left: 17px;
}

.sidebar-menu-title{
    margin-left: 15px;
    color: #000;
}

.sidebar-menu-line{
    border-bottom: 2px solid #F0F0F0;
    margin-left: 10px;
    max-width: 85%;
}