#table-area{
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: 30px;
    width: 100%;
}

#table-center{
    text-align: center;
}

.table-row-title th{
    text-align: start;
    color: #00000080;
}

.table-row-title th,
td{
    padding: 5px 0px;
    border-bottom: 1px solid #A9A9A9;
}

#table-area tr:hover{
    background-color: #f0f0f0;
}