.table{
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    overflow-wrap: break-word;

    &-icon{
        width: 20px;
        height: 20px;
        margin-right: 25px;
        cursor: pointer;

        &-disabled{
            opacity: .5;
            pointer-events: none;
        }
    }
}

table {
    & th{
        padding: 5px 0px 5px 5px;
        border-bottom: 1px solid #000;
        text-align: start;
        background-color: #A0B0C0;
        font-size: 18px;
        font-weight: bold;
        opacity: .8;
        transition: .4s;

        &:hover{
            opacity: 1;
        }
    }

    & td{
        padding: 5px 0px 5px 5px;
        border-bottom: 1px solid #000;
        font-size: 17px;
    }
}

.oddRow{
    background-color: #fff;
}

.evenRow{
    background-color: #e9e9e9;
}

.lastColumn{
    width: 200px;
}

tbody tr:hover{
    background-color: #D0D0D0;
}

@media print{
    .lastColumn{
        width: 110px;
    }
}