*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #F5F7FA;
}

body{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 600px;
    height: 550px;
    border: 2px solid #000;
    border-radius: 10px;
}

.login-img{
    background-color: #fff;
}

.img{
    margin: 30px 0px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #F5F7FA;
    
}

.input-area{
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.input{
    padding: 10px;
    margin: 15px 0px;
    background-color: #fff;
    border: 3px solid #000;
    min-width: 300px;
    min-height: 50px;
    border-radius: 5px;
    font-size: 18px;
}

.button-area{
    margin: 15px 0px;
}

.submit{
    background-color: #000;
    color: #fff;
    font-size: 18px;
    min-width: 300px;
    min-height: 50px;
    border-radius: 5px;
    cursor: pointer;
}