#table-area{
    margin-top: 5px;
}

.pagination-container{
    display: flex;
    justify-content: end;
    margin: 25px 10px 0px 0px;

}

.pagination-container img{
    margin: 3px;    
    height: 15px;
    width: 15px;
    cursor: pointer;
}