<div class="header">
    <div class="header-left">
        <input class="input" type="text" placeholder="Search:" />
    </div>
    <div class="header-right">
        <div class="current-profile" (click)="openModal()">
            <div class="current-profile-icon">{{ profileIcon }}</div>
            <div class="current-profile-name">{{ profileName }}</div>
        </div>
        <div class="exit" (click)="logout()">EXIT</div>
    </div>
</div>
<app-form-modal
    *ngIf="visibleModal"
    [title]="editModalTitle" 
    [submitButtonColor]="'#0056b3'"
    [submitButtonText]="'EDIT PROFILE'"
    (closeModalEmitter)="closeModal()"
    [preLoadInfo]="true">
</app-form-modal>