<app-main-card>
    <div class="main-card-top">
        <div class="main-card-title">{{ mainCardTitle }}</div>
        <button type="button" (click)="openModal()" class="global-button profile-button">CREATE PROFILE</button>
    </div>
    <div class="arrows-pagination">
        <app-change-page-buttons [lsProperties]="'profilesPagination'" (currentPage)="setCurrentPage($event)"></app-change-page-buttons>
    </div>
    <app-table 
        [thColumns]="thColumns" 
        [users]="users" 
        [hasActions]="true"
        (clickEditBtn)="openModal($event)"
        (clickRemoveBtn)="openRemoveModal($event)"></app-table>
</app-main-card>

<app-form-modal
    *ngIf="visibleModal"
    [title]="modalTitle" 
    [submitButtonColor]="modalBtnColor"
    [submitButtonText]="modalBtnText"
    [editMode]="editMode"
    [emailToEdit]="emailToEdit"
    (closeModalEmitter)="closeModal()">
</app-form-modal>

<app-confirm-modal
    *ngIf="visibleRemoveModal"
    [emailToRemove]="emailToRemove"
    (closeModalEmitter)="closeRemoveModal()">
</app-confirm-modal>

<app-notification-alert></app-notification-alert>