<app-main-card>
    <div class="main-card-top">
        <div class="main-card-title">{{ mainCardTitle }}</div>
        <button type="button" (click)="openModal()" class="global-button profile-button">CREATE PROFILE</button>
    </div>
    <div class="arrows-pagination">
        <app-change-page-buttons class="teste"></app-change-page-buttons>
    </div>
    <app-table 
        [thColumns]="thColumns" 
        [users]="users" 
        [hasActions]="true"
        (clickEditBtn)="openModal($event)"></app-table>
</app-main-card>
<app-form-modal
    *ngIf="visibleModal"
    [title]="modalTitle" 
    [submitButtonColor]="modalBtnColor"
    [submitButtonText]="modalBtnText"
    [editMode]="editMode"
    [emailToEdit]="emailToEdit"
    (closeModalEmitter)="closeModal()">
</app-form-modal>