@import '../../../../../styles/variables';

.main-card-top{
    display: flex;
    justify-content: space-between;
}

.profile-button{
    background-color: $btn-green;
    margin: 0;
}

.main-card-title{
    font-size: 19px;
    max-width: 300px;
    color: #00000080;
    font-weight: bold;
}

.arrows-pagination{
    margin: 10px 0px 5px 0px;  
}