<app-main-card>
    <div class="main-card-top">
        <div class="main-card-title">{{ mainCardTitle }}</div>
        <button type="button" (click)="openModal()" class="global-button profile-button">CREATE PROFILE</button>
    </div>
    <div class="arrows-pagination">
        <app-change-page-buttons class="teste"></app-change-page-buttons>
    </div>
    <app-table [thColumns]="thColumns" [users]="users"></app-table>
</app-main-card>
<app-form-modal
    *ngIf="visibleModal"
    [title]="createModalTitle" 
    [submitButtonColor]="'#429a35'"
    [submitButtonText]="'CREATE PROFILE'"
    (closeModalEmitter)="closeModal()"
    [editMode]="false">
</app-form-modal>