body{
    transition: 1s;
}

.full-page{
    width: 100%;
    display: flex;
}

.main-content{
    font-family: "Roboto", sans-serif;
    height: 100%;
    width: 100%;
    background-color: #F0F0F0;
}

.main-container{
    font-family: "Roboto", sans-serif;
}

.main-container-area{
    background-color: #FFF;
    height: 609px;
    margin: 20px;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15), 0 6px 25px rgba(0, 0, 0, 0.15);
    overflow: auto;
    scrollbar-width: thin; 
    scrollbar-color: #888 #f1f1f1;
}

.main-container-top{
    position: relative;
    display: flex;
    align-items: center;
}

.main-container-title{
    font-size: 19px;
    padding-top:20px;
    color: #00000080;
    font-weight: bold;
}

/*Dark Mode*/
body.dark .main-content{
    background-color: #121212;
}

body.dark .main-container-area{
    background-color: #1E1E1E;
}

body.dark .main-container-title{
    color: #FFF;
}