.return-login{
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;
}

.return-login img{
    max-width: 35px;
    max-height: 35px;
    padding: 5px;
    opacity: .8;
    transition: .3s;
}

.return-login img:hover{
    opacity: 1;
}

.newProfile-title{
    font-size: 20px;
}

.input-changes{
    margin-top:15px; 
}

#createProfile-submit:hover{
    font-size: 17px;
    opacity: 1;
    transition: 0.2s;
}


/*Dark Mode*/
body.dark .newProfile-title{
    color: #fff;
}