.open-modal-createProfile{
    position: absolute;
    right: 0;
    margin-right: 20px;
}

#table-area img{
    max-width: 15px;
    max-height: 15px;
}

.tableEditRemove{
    text-align: center;
    max-width: 100px;
}

.tableEditLink{
    margin-right: 20px;
}

.tableRemoveLink{
    margin-left: 20px;
}

.tableEditLink img,
.tableEditRemove img{
    cursor: pointer;
}

.fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

.modal{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    z-index: 10;
    width: 550px;
    max-width: 90%;
    max-height: 535px;
    padding: 1.2rem;
    border-radius: 10px;
    overflow-y: auto;
}

.fade,
.modal{
    transition: 1s;
    opacity: 1;
    pointer-events: all;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    font-size: 20px;
}

.modal.hide,
.fade.hide{
    opacity: 0;
    pointer-events: none;
}

.modal.hide{
    top: 0;
}

.modal-body-top{
    display: flex;
    justify-content: space-between;
}

.modal-checkbox-profile{
    display: flex;
}

#modal-admin-checkbox{
    margin-left: 10px;
}

.modal-active-title,
.modal-admin-title{
    margin: 0px 10px 0px 5px;
}

.modal-input-address{
    margin-top: 0px;
}

#editProfile-submit{
    background-color: #0056b3;
}

.facts-inputs{
    display: flex;
    flex-direction: column;
}

.profile-input{
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
}

.profile-input label{
    display: flex;
}

.profile-name-birthday{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-email-password{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-input textarea,
.profile-input input{
    font-size: 16px;
    padding: 10px;    
    background-color: #EEEBEB;
    border: 2px solid #000;
}

.profile-input textarea{
    resize: none;
}

.profile-button{
    display: flex;
    justify-content: center;
}

.buttons-removeProfile{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#cancel-removeProfile,
#confirm-removeProfile{
    text-align: center;
    margin: 5px;
    width: 245px;
}

#cancel-removeProfile{
    opacity: 1;
}

#confirm-removeProfile{
    background-color: #E53935;
}


/*Dark Mode*/
body.dark .modal{
    background-color: #1E1E1E;
}

body.dark label,
body.dark .modal-topic,
body.dark .modal-header h2,
body.dark .modal-body h3,
body.dark .modal-active-title,
body.dark .profile-input input,
body.dark .profile-input textarea{
    color: #FFF;
}

body.dark .profile-input input,
body.dark .profile-input textarea{
    background-color: #121212;
}

body.dark .alert-removeProfile,
body.dark .question-removeProfile{
    color: #FFF;
}